.benefits {
  padding: 120px 0 140px;
  background: #242431;
  @media (min-width: 1441px) {
    padding: 140px 0 160px;
  }
  @include big-tablet {
    padding: 100px 0 120px;
  }
  @include tablet {
    padding: 60px 0 80px;
  }
  @include mobile {
    padding: 40px 0 50px;
  }
  &__title {
    color: #82829e;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;

    @include tablet {
      margin-bottom: 48px;
    }
    @include mobile {
      margin-bottom: 24px;
    }
  }

  &__control {
    .control__btn {
      color: var(--color-beige2);
    }
  }

  &__slider {
    padding: 0
      calc((100% - var(--container-width) + var(--container-offset)) / 2);
    @media (max-width: 1400px) {
      padding: 0 var(--container-offset);
    }
  }
  &__slider .swiper-slide {
    width: auto;
  }
}

.benefit {
  width: 380px;
  cursor: pointer;

  @include big-tablet {
    width: 300px;
  }
  @include small-tablet {
    width: 240px;
  }
  &__img {
    height: 400px;
    margin-bottom: 16px;
    background: #58586d;
    position: relative;
    overflow: hidden;

    @include big-tablet {
      height: 316px;
    }
    @include small-tablet {
      height: 253px;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__img::before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    background: rgba(22, 15, 15, 0.4);
    transform: scale(1.1);
    filter: blur(15px);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.35s ease-in;
  }

  &__desc {
    position: absolute;
    z-index: 5;
    left: 24px;
    right: 24px;
    bottom: 25px;
    max-height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    p {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }
  }

  &__capture {
    font-weight: 600;
    transition: color 0.3s ease-in;

    @include big-tablet {
      font-size: 16px;
    }
  }

  @include hover {
    .benefit__capture {
      color: var(--color-beige2);
    }
    .benefit__img::before {
      opacity: 1;
    }
    .benefit__desc {
      opacity: 1;
    }
  }
}
