.modal-cta {
  &.modal--open {
    z-index: 1000;
  }
  &__body {
    position: relative;
    max-width: 375px;
    min-height: 620px;
    padding: 113px 20px;
    background-color: #242430;
    @include mobile {
      max-width: 100%;
      min-height: 100%;
    }
  }

  &__close {
    opacity: 0.8;
    svg {
      fill: var(--color-white);
    }
  }

  &__title {
    margin-bottom: 4px;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-bottom: 24px;
    color: #82829e;
  }
}
