.text {
  margin-bottom: 64px;

  @media (min-width: 1441px) {
    margin-bottom: 84px;
  }
  @include big-tablet {
    margin-bottom: 48px;
  }
  @include tablet {
    margin-bottom: 60px;
  }
  @include mobile {
    margin-bottom: 0;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    @media (max-width: 900px) {
      flex-direction: column;
      gap: 48px;
    }
    @include mobile {
      align-items: stretch;
      gap: 24px;
    }
  }

  &__left {
    max-width: 540px;
    width: 100%;

    @include big-tablet {
      max-width: 444px;
    }
    @media (max-width: 900px) {
      max-width: 100%;
    }
  }

  &__right {
    width: 100%;
    max-width: 520px;
    padding: 32px 48px;
    background: #eef0f3;
    flex-shrink: 0;
    b {
      display: block;
    }
    @media (max-width: 900px) {
      max-width: 100%;
    }
    @include mobile {
      width: auto;
      max-width: unset;
      margin-left: calc(-1 * var(--container-offset));
      margin-right: calc(-1 * var(--container-offset));
    }
  }

  &__left p,
  &__right p {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 1em;
      @include big-tablet {
        margin-bottom: 0;
      }
    }
  }
}
