<section class="arch" id="arch">
  <div class="container">
    <div class="heading-container arch__header">
      <h2 class="title2 title2--grey arch__title">Архитектура</h2>

      <div class="arch__control control">
        <button class="btn-reset control__btn control__btn--prev arch-prev">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
        <button class="btn-reset control__btn control__btn--next arch-next">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="arch__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="arch__item arch-item">
          <div class="arch-item__img">
            <picture>
              <source srcset="./img/arch/01.webp" type="image/webp" />
              <img
                loading="lazy"
                src="./img/arch/01.jpg"
                class="image"
                width="380"
                height="400"
                alt="Фото проекта"
              />
            </picture>
          </div>
          <div class="arch-item__info">
            <p class="desc2 arch-item__capture">Название проекта</p>

            <div class="arch-item__row">
              <div class="arch-item__square">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="2"
                    y="2"
                    width="12"
                    height="12"
                    rx="1"
                    stroke="#C08F4C"
                    stroke-width="2"
                  />
                  <circle cx="2" cy="2" r="2" fill="#C08F4C" />
                  <circle cx="14" cy="2" r="2" fill="#C08F4C" />
                  <circle cx="2" cy="14" r="2" fill="#C08F4C" />
                  <circle cx="14" cy="14" r="2" fill="#C08F4C" />
                </svg>
                285 м²
              </div>

              <ul class="list-reset arch-item__list desc3 desc3--light">
                <li>2 этажа</li>
                <li>3 спальни</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="arch__item arch-item">
          <div class="arch-item__img">
            <picture>
              <source srcset="./img/arch/02.webp" type="image/webp" />
              <img
                loading="lazy"
                src="./img/arch/01.jpg"
                class="image"
                width="380"
                height="400"
                alt="Фото проекта"
              />
            </picture>
          </div>
          <div class="arch-item__info">
            <p class="desc2 arch-item__capture">Название проекта</p>

            <div class="arch-item__row">
              <div class="arch-item__square">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="2"
                    y="2"
                    width="12"
                    height="12"
                    rx="1"
                    stroke="#C08F4C"
                    stroke-width="2"
                  />
                  <circle cx="2" cy="2" r="2" fill="#C08F4C" />
                  <circle cx="14" cy="2" r="2" fill="#C08F4C" />
                  <circle cx="2" cy="14" r="2" fill="#C08F4C" />
                  <circle cx="14" cy="14" r="2" fill="#C08F4C" />
                </svg>
                285 м²
              </div>

              <ul class="list-reset arch-item__list desc3 desc3--light">
                <li>2 этажа</li>
                <li>3 спальни</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="arch__item arch-item">
          <div class="arch-item__img">
            <picture>
              <source srcset="./img/arch/03.webp" type="image/webp" />
              <img
                loading="lazy"
                src="./img/arch/01.jpg"
                class="image"
                width="380"
                height="400"
                alt="Фото проекта"
              />
            </picture>
          </div>
          <div class="arch-item__info">
            <p class="desc2 arch-item__capture">Название проекта</p>

            <div class="arch-item__row">
              <div class="arch-item__square">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="2"
                    y="2"
                    width="12"
                    height="12"
                    rx="1"
                    stroke="#C08F4C"
                    stroke-width="2"
                  />
                  <circle cx="2" cy="2" r="2" fill="#C08F4C" />
                  <circle cx="14" cy="2" r="2" fill="#C08F4C" />
                  <circle cx="2" cy="14" r="2" fill="#C08F4C" />
                  <circle cx="14" cy="14" r="2" fill="#C08F4C" />
                </svg>
                285 м²
              </div>

              <ul class="list-reset arch-item__list desc3 desc3--light">
                <li>2 этажа</li>
                <li>3 спальни</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="arch__item arch-item">
          <div class="arch-item__img">
            <picture>
              <source srcset="./img/arch/04.webp" type="image/webp" />
              <img
                loading="lazy"
                src="./img/arch/01.jpg"
                class="image"
                width="380"
                height="400"
                alt="Фото проекта"
              />
            </picture>
          </div>
          <div class="arch-item__info">
            <p class="desc2 arch-item__capture">Название проекта</p>

            <div class="arch-item__row">
              <div class="arch-item__square">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="2"
                    y="2"
                    width="12"
                    height="12"
                    rx="1"
                    stroke="#C08F4C"
                    stroke-width="2"
                  />
                  <circle cx="2" cy="2" r="2" fill="#C08F4C" />
                  <circle cx="14" cy="2" r="2" fill="#C08F4C" />
                  <circle cx="2" cy="14" r="2" fill="#C08F4C" />
                  <circle cx="14" cy="14" r="2" fill="#C08F4C" />
                </svg>
                285 м²
              </div>

              <ul class="list-reset arch-item__list desc3 desc3--light">
                <li>2 этажа</li>
                <li>3 спальни</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="arch__item arch-item">
          <div class="arch-item__img">
            <picture>
              <source srcset="./img/arch/05.webp" type="image/webp" />
              <img
                loading="lazy"
                src="./img/arch/01.jpg"
                class="image"
                width="380"
                height="400"
                alt="Фото проекта"
              />
            </picture>
          </div>
          <div class="arch-item__info">
            <p class="desc2 arch-item__capture">Название проекта</p>

            <div class="arch-item__row">
              <div class="arch-item__square">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="2"
                    y="2"
                    width="12"
                    height="12"
                    rx="1"
                    stroke="#C08F4C"
                    stroke-width="2"
                  />
                  <circle cx="2" cy="2" r="2" fill="#C08F4C" />
                  <circle cx="14" cy="2" r="2" fill="#C08F4C" />
                  <circle cx="2" cy="14" r="2" fill="#C08F4C" />
                  <circle cx="14" cy="14" r="2" fill="#C08F4C" />
                </svg>
                285 м²
              </div>

              <ul class="list-reset arch-item__list desc3 desc3--light">
                <li>2 этажа</li>
                <li>3 спальни</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="arch__item arch-item">
          <div class="arch-item__img">
            <picture>
              <source srcset="./img/arch/06.webp" type="image/webp" />
              <img
                loading="lazy"
                src="./img/arch/01.jpg"
                class="image"
                width="380"
                height="400"
                alt="Фото проекта"
              />
            </picture>
          </div>
          <div class="arch-item__info">
            <p class="desc2 arch-item__capture">Название проекта</p>

            <div class="arch-item__row">
              <div class="arch-item__square">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="2"
                    y="2"
                    width="12"
                    height="12"
                    rx="1"
                    stroke="#C08F4C"
                    stroke-width="2"
                  />
                  <circle cx="2" cy="2" r="2" fill="#C08F4C" />
                  <circle cx="14" cy="2" r="2" fill="#C08F4C" />
                  <circle cx="2" cy="14" r="2" fill="#C08F4C" />
                  <circle cx="14" cy="14" r="2" fill="#C08F4C" />
                </svg>
                285 м²
              </div>

              <ul class="list-reset arch-item__list desc3 desc3--light">
                <li>2 этажа</li>
                <li>3 спальни</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container heading-container">
    <div class="arch__desc desc1">
      <p>
        Мы&nbsp;предлагаем широкий выбор проектов домов с&nbsp;современным
        дизайном и планировками на&nbsp;ваш вкус.
      </p>

      <p>
        При этом в&nbsp;третьей очереди действуют правила застройки,
        определяющие единый архитектурный код. С&nbsp;их&nbsp;помощью
        мы&nbsp;добиваемся создания гармоничной и&nbsp;комфортной среды.
      </p>
    </div>
  </div>
</section>
