<section class="benefits" id="benefits">
  <div class="container">
    <div class="benefits__header container-heading">
      <h2 class="title2 title2--light benefits__title">Преимущества</h2>

      <div class="benefits__control control">
        <button class="btn-reset control__btn control__btn--prev benefits-prev">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
        <button class="btn-reset control__btn control__btn--next benefits-next">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="benefits__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="benefits__item benefit" tabindex="0">
          <div class="benefit__img">
            <picture>
              <source srcset="./img/benefits/01.webp" type="image/webp" />
              <img
                loading="lazy"
                src="./img/benefits/01.jpg"
                class="image"
                width="300"
                height="400"
                alt="Фото преимуещства"
              />
            </picture>

            <div class="benefit__desc desc3 desc3--light">
              <p>
                Дачные участки занимают менее половины территории поселка. А
                большая его часть (более __ га) — лес, живописные холмы, лужайки
                и фермы.
              </p>
              <p>
                Вы и ваши дети получаете возможность отдыхать на природе не
                покидая границ территории.
              </p>
            </div>
          </div>

          <p class="desc1 desc1--light benefit__capture">Территория</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="benefits__item benefit" tabindex="0">
          <div class="benefit__img">
            <picture>
              <source srcset="./img/benefits/02.webp" type="image/webp" />
              <img
                loading="lazy"
                src="./img/benefits/02.jpg"
                class="image"
                width="300"
                height="400"
                alt="Фото преимуещства"
              />
            </picture>

            <div class="benefit__desc desc3 desc3--light">
              <p>
                Протяженность берега реки Нудоль в границах поселка более 2 км.
              </p>
              <p>
                Здесь можно купаться, загорать, ловить рыбу, кататься на лодке,
                сидеть у костра или просто отдыхать в дали от городской суеты.
              </p>
            </div>
          </div>

          <p class="desc1 desc1--light benefit__capture">Река</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="benefits__item benefit" tabindex="0">
          <div class="benefit__img">
            <picture>
              <source srcset="./img/benefits/03.webp" type="image/webp" />
              <img
                loading="lazy"
                src="./img/benefits/03.jpg"
                class="image"
                width="300"
                height="400"
                alt="Фото преимуещства"
              />
            </picture>

            <div class="benefit__desc desc3 desc3--light">
              <p>
                Не любите футбол, теннис и велосипеды, но хотите гулять с
                пользой для организма, выходите на тропу здоровья?
              </p>
              <p>
                Почти 2 км для прогулки или бега по пересеченной местности.
                Устали? Присядьте на лавочку и полюбуйтесь с высоты закатом и
                долиной реки Нудоль.
              </p>
            </div>
          </div>

          <p class="desc1 desc1--light benefit__capture">Тропа здоровья</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="benefits__item benefit" tabindex="0">
          <div class="benefit__img">
            <picture>
              <source srcset="./img/benefits/04.webp" type="image/webp" />
              <img
                loading="lazy"
                src="./img/benefits/04.jpg"
                class="image"
                width="300"
                height="400"
                alt="Фото преимуещства"
              />
            </picture>

            <div class="benefit__desc desc3 desc3--light">
              <p>
                Большая часть поселка — ровная как ковер, но есть крутые склоны
                и овраги. Дети любят играть в лесу на краю оврага, строят шалаши
                и гнезда на деревьях.
              </p>
              <p>
                А вы можете купить участок на склоне и построить дом с каскадом
                террас и великолепным видом на долину.
              </p>
              <p>И мы с удовольствием поможем.</p>
            </div>
          </div>

          <p class="desc1 desc1--light benefit__capture">Рельеф</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="benefits__item benefit" tabindex="0">
          <div class="benefit__img">
            <picture>
              <source srcset="./img/benefits/05.webp" type="image/webp" />
              <img
                loading="lazy"
                src="./img/benefits/05.jpg"
                class="image"
                width="300"
                height="400"
                alt="Фото преимуещства"
              />
            </picture>

            <div class="benefit__desc desc3 desc3--light">
              <p>
                Для вас — большое разнообразие готовых проектов и архитектурных
                стилей на выбор, но в поселке действуют правила застройки.
              </p>

              <p>
                Мы не строим высокие дома, не ставим глухие заборы, а ценим
                дружественную архитектуру и открытую среду.
              </p>
            </div>
          </div>

          <p class="desc1 desc1--light benefit__capture">Архитектура</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="benefits__item benefit" tabindex="0">
          <div class="benefit__img">
            <picture>
              <source srcset="./img/benefits/06.webp" type="image/webp" />
              <img
                loading="lazy"
                src="./img/benefits/06.jpg"
                class="image"
                width="300"
                height="400"
                alt="Фото преимуещства"
              />
            </picture>
            <div class="benefit__desc desc3 desc3--light">
              <p>
                Единственное, чего нельзя купить за деньги (а уже включено в
                стоимость участка) — дружелюбная атмосфера и хорошие соседи.
              </p>
              <p>
                Вы можете оставить у дома велосипед или игрушки, не запирать
                машину.
              </p>
              <p>
                Ваши дети будут часами гулять вместе на природе, кормить коз на
                ферме или строить шалаши, и, возможно, вернутся домой сытыми.
                Ведь их кто-то уже покормил.
              </p>
            </div>
          </div>

          <p class="desc1 desc1--light benefit__capture">Атмосфера</p>
        </div>
      </div>
    </div>
  </div>
</section>
