<section class="genplan" id="genplan">
  <div class="container">
    <div class="heading-container genplan__header">
      <h2 class="title2 title2--grey genplan__title">Генплан</h2>
      <div class="genplan__benefits">
        <div class="genplan__item gb">
          <div class="gb__icon">
            <img src="./img/genplan/01.svg" aria-hidden="true" alt="" />
          </div>
          <div class="gb__capture">Единая концепция</div>
        </div>
        <div class="genplan__item gb">
          <div class="gb__icon">
            <img src="./img/genplan/02.svg" aria-hidden="true" alt="" />
          </div>
          <div class="gb__capture">Развитая инфраструктура</div>
        </div>
        <div class="genplan__item gb">
          <div class="gb__icon">
            <img src="./img/genplan/03.svg" aria-hidden="true" alt="" />
          </div>
          <div class="gb__capture">Система безопасности</div>
        </div>
      </div>
    </div>
  </div>
  <div class="genplan__plan gplan">
    <div class="gplan__img">
      <picture>
        <source
          srcset="./img/genplan576.webp"
          type="image/webp"
          media="(max-width: 576px)"
        />
        <source
          srcset="./img/genplan768.webp"
          type="image/webp"
          media="(max-width: 990px)"
        />
        <source srcset="./img/genplan.webp" type="image/webp" />
        <img
          loading="lazy"
          src="./img/genplan.jpg"
          class="image"
          width="1440"
          height="900"
          alt="Фото генплана"
        />
      </picture>
    </div>
    <div class="genplan__info gplan-info">
      <div class="gplan-info__item">
        <div class="gplan-info__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#gplan-playground"></use>
          </svg>
        </div>
        <p class="gplan-info__capture">Детская площадка</p>
      </div>
      <div class="gplan-info__item">
        <div class="gplan-info__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#gplan-trail"></use>
          </svg>
        </div>
        <p class="gplan-info__capture">Тропа здоровья</p>
      </div>
      <div class="gplan-info__item">
        <div class="gplan-info__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#gplan-beach"></use>
          </svg>
        </div>
        <p class="gplan-info__capture">Пляж</p>
      </div>
      <div class="gplan-info__item">
        <div class="gplan-info__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#gplan-sport"></use>
          </svg>
        </div>
        <p class="gplan-info__capture">Спорт. площадка</p>
      </div>
      <div class="gplan-info__item">
        <div class="gplan-info__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#gplan-alcove"></use>
          </svg>
        </div>
        <p class="gplan-info__capture">Гостевая беседка</p>
      </div>
      <div class="gplan-info__item">
        <div class="gplan-info__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#gplan-court"></use>
          </svg>
        </div>
        <p class="gplan-info__capture">Теннисный корт</p>
      </div>
      <div class="gplan-info__item">
        <div class="gplan-info__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#gplan-farm"></use>
          </svg>
        </div>
        <p class="gplan-info__capture">Ферма</p>
      </div>
      <div class="gplan-info__item">
        <div class="gplan-info__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#gplan-club"></use>
          </svg>
        </div>
        <p class="gplan-info__capture">Клуб</p>
      </div>
    </div>
  </div>
</section>
