<section class="hero">
  <div class="hero__container container">
    <h1 class="title1 title1--light hero__title">
      Поселок у&nbsp;реки
      <span>с уникальной атмосферой</span>
    </h1>

    <div class="hero__row">
      <div class="hero__map hero-map">
        <div class="hero-map__icon">
          <img src="./img/svg/map-icon.svg" aria-hidden="true" alt="" />
        </div>

        <div class="hero-map__text">
          <p class="title4 title4--light hero-map__top">1 час 10 минут</p>
          <p class="capture1 capture1--light hero-map__bottom">
            по Новорижскому шоссе или трассе М-11
          </p>
        </div>
      </div>

      <div class="hero__buttons">
        <a href="#genplan" class="btn-reset hero__btn hero__btn--green">
          <svg class="">
            <use xlink:href="img/sprite.svg#map-btn"></use>
          </svg>
          Генплан поселка
        </a>
        <a href="#" download class="btn-reset hero__btn hero__btn--black">
          Скачать презентацию
        </a>
      </div>
    </div>
  </div>
</section>
