<section class="history">
  <div class="history__container">
    <div class="history__header">
      <h2 class="title2 title2--grey history__title">Наши истории</h2>

      <div class="history__control control">
        <button class="btn-reset control__btn control__btn--prev history-prev">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
        <button class="btn-reset control__btn control__btn--next history-next">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="history__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div
            class="history-item history__item"
            tabindex="0"
            data-modal-open="stories"
          >
            <div class="history-item__img">
              <picture>
                <source srcset="./img/history/01.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/history/01.jpg"
                  class="image"
                  width="204"
                  height="360"
                  alt="1"
                />
              </picture>
            </div>
            <p class="desc3 desc3--light history-item__capture">@имяавтора</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="history-item history__item"
            tabindex="0"
            data-modal-open="stories"
          >
            <div class="history-item__img">
              <picture>
                <source srcset="./img/history/02.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/history/02.jpg"
                  class="image"
                  width="204"
                  height="360"
                  alt="1"
                />
              </picture>
            </div>
            <p class="desc3 desc3--light history-item__capture">@имяавтора</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="history-item history__item"
            tabindex="0"
            data-modal-open="stories"
          >
            <div class="history-item__img">
              <picture>
                <source srcset="./img/history/03.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/history/03.jpg"
                  class="image"
                  width="204"
                  height="360"
                  alt="1"
                />
              </picture>
            </div>
            <p class="desc3 desc3--light history-item__capture">@имяавтора</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="history-item history__item"
            tabindex="0"
            data-modal-open="stories"
          >
            <div class="history-item__img">
              <picture>
                <source srcset="./img/history/04.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/history/04.jpg"
                  class="image"
                  width="204"
                  height="360"
                  alt="1"
                />
              </picture>
            </div>
            <p class="desc3 desc3--light history-item__capture">@имяавтора</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="history-item history__item"
            tabindex="0"
            data-modal-open="stories"
          >
            <div class="history-item__img">
              <picture>
                <source srcset="./img/history/05.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/history/05.jpg"
                  class="image"
                  width="204"
                  height="360"
                  alt="1"
                />
              </picture>
            </div>
            <p class="desc3 desc3--light history-item__capture">@имяавтора</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="history-item history__item"
            tabindex="0"
            data-modal-open="stories"
          >
            <div class="history-item__img">
              <picture>
                <source srcset="./img/history/06.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/history/06.jpg"
                  class="image"
                  width="204"
                  height="360"
                  alt="1"
                />
              </picture>
            </div>
            <p class="desc3 desc3--light history-item__capture">@имяавтора</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="history-item history__item"
            tabindex="0"
            data-modal-open="stories"
          >
            <div class="history-item__img">
              <picture>
                <source srcset="./img/history/07.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/history/07.jpg"
                  class="image"
                  width="204"
                  height="360"
                  alt="1"
                />
              </picture>
            </div>
            <p class="desc3 desc3--light history-item__capture">@имяавтора</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="history-item history__item"
            tabindex="0"
            data-modal-open="stories"
          >
            <div class="history-item__img">
              <picture>
                <source srcset="./img/history/08.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/history/08.jpg"
                  class="image"
                  width="204"
                  height="360"
                  alt="1"
                />
              </picture>
            </div>
            <p class="desc3 desc3--light history-item__capture">@имяавтора</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="history-item history__item"
            tabindex="0"
            data-modal-open="stories"
          >
            <div class="history-item__img">
              <picture>
                <source srcset="./img/history/10.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/history/10.jpg"
                  class="image"
                  width="204"
                  height="360"
                  alt="1"
                />
              </picture>
            </div>
            <p class="desc3 desc3--light history-item__capture">@имяавтора</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="history-item history__item"
            tabindex="0"
            data-modal-open="stories"
          >
            <div class="history-item__img">
              <picture>
                <source srcset="./img/history/11.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/history/11.jpg"
                  class="image"
                  width="204"
                  height="360"
                  alt="1"
                />
              </picture>
            </div>
            <p class="desc3 desc3--light history-item__capture">@имяавтора</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="history-item history__item"
            tabindex="0"
            data-modal-open="stories"
          >
            <div class="history-item__img">
              <picture>
                <source srcset="./img/history/12.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/history/12.jpg"
                  class="image"
                  width="204"
                  height="360"
                  alt="1"
                />
              </picture>
            </div>
            <p class="desc3 desc3--light history-item__capture">@имяавтора</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@include('./stories.html')
