<section class="infra" id="infra">
  <div class="container">
    <div class="infra__header">
      <h2 class="title2 title2--grey infra__title">Инфраструктура</h2>

      <div class="infra__control control">
        <button class="btn-reset control__btn control__btn--prev infra-prev">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
        <button class="btn-reset control__btn control__btn--next infra-next">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="infra__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="infra-item infra__item" tabindex="0">
          <div class="infra-item__img">
            <picture>
              <source srcset="./img/infra/01.webp" type="image/webp" />
              <img
                loading="lazy"
                src="./img/infra/01.jpg"
                class="image"
                width="340"
                height="400"
                alt="Фото Спортивной площадки"
              />
            </picture>
          </div>
          <div class="btn-reset infra-item__play">
            <svg class="">
              <use xlink:href="img/sprite.svg#play"></use>
            </svg>
          </div>
          <div class="infra-item__text">
            <p class="desc1 desc1--light infra-item__capture">Спорт</p>
            <p class="desc3 desc3--light infra-item__desc">
              Теннисный корт, спортплощадка, тропа здоровья
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="infra-item infra__item" tabindex="0">
          <div class="infra-item__img">
            <picture>
              <source srcset="./img/infra/02.webp" type="image/webp" />
              <img
                loading="lazy"
                src="./img/infra/02.jpg"
                class="image"
                width="340"
                height="400"
                alt="Фото Дети"
              />
            </picture>
          </div>
          <div class="infra-item__text">
            <p class="desc1 desc1--light infra-item__capture">Дети</p>
            <p class="desc3 desc3--light infra-item__desc">
              Игровые площадки, детский пляж, висячий парк, ферма
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="infra-item infra__item" tabindex="0">
          <div class="infra-item__img">
            <picture>
              <source srcset="./img/infra/03.webp" type="image/webp" />
              <img
                loading="lazy"
                src="./img/infra/03.jpg"
                class="image"
                width="340"
                height="400"
                alt="Фото Отдых и общение"
              />
            </picture>
          </div>
          <div class="infra-item__text">
            <p class="desc1 desc1--light infra-item__capture">
              Отдых и общение
            </p>
            <p class="desc3 desc3--light infra-item__desc">
              Беседки, зоны барбекю, пляж, бильярдный клуб
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="infra-item infra__item" tabindex="0">
          <div class="infra-item__img">
            <picture>
              <source srcset="./img/infra/04.webp" type="image/webp" />
              <img
                loading="lazy"
                src="./img/infra/04.jpg"
                class="image"
                width="340"
                height="400"
                alt="Фото Питомцы"
              />
            </picture>
          </div>
          <div class="btn-reset infra-item__play">
            <svg class="">
              <use xlink:href="img/sprite.svg#play"></use>
            </svg>
          </div>
          <div class="infra-item__text">
            <p class="desc1 desc1--light infra-item__capture">Питомцы</p>
            <p class="desc3 desc3--light infra-item__desc">
              2 фермы, собачья площадка
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="infra-item infra__item" tabindex="0">
          <div class="infra-item__img">
            <picture>
              <source srcset="./img/infra/05.webp" type="image/webp" />
              <img
                loading="lazy"
                src="./img/infra/05.jpg"
                class="image"
                width="340"
                height="400"
                alt="Фото Арт"
              />
            </picture>
          </div>
          <div class="infra-item__text">
            <p class="desc1 desc1--light infra-item__capture">Арт</p>
            <p class="desc3 desc3--light infra-item__desc">
              Арт-пространства (скворечники, велик, библиотека и т.д.).
              Арт-мероприятия (детские рисунки, покраска домиков)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
