<section class="infra" id="infra">
  <div class="container">
    <div class="infra__header" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      <h2 class="title2 title2--grey infra__title">Инфраструктура</h2>

      <div class="infra__control control">
        <button class="btn-reset control__btn control__btn--prev infra-prev">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
        <button class="btn-reset control__btn control__btn--next infra-next">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="infra__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="infra-item infra__item" tabindex="0" data-modal-open="infra1">
          <div class="infra-item__img">
            <picture>
              <source srcset="./img/infra/01.webp" type="image/webp" />
              <img loading="lazy" src="./img/infra/01.jpg" class="image" width="340" height="400"
                alt="Фото Спортивной площадки" />
            </picture>
          </div>
          <div class="btn-reset infra-item__play">
            <svg class="">
              <use xlink:href="img/sprite.svg#play"></use>
            </svg>
          </div>
          <div class="infra-item__text">
            <p class="desc1 desc1--light infra-item__capture">Спорт</p>
            <p class="desc3 desc3--light infra-item__desc">
              Теннисный корт, спортплощадка, тропа здоровья
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="infra-item infra__item" tabindex="0" data-modal-open="infra2">
          <div class="infra-item__img">
            <picture>
              <source srcset="./img/infra/02.webp" type="image/webp" />
              <img loading="lazy" src="./img/infra/02.jpg" class="image" width="340" height="400" alt="Фото Дети" />
            </picture>
          </div>
          <div class="infra-item__text">
            <p class="desc1 desc1--light infra-item__capture">Дети</p>
            <p class="desc3 desc3--light infra-item__desc">
              Игровые площадки, детский пляж, висячий парк, ферма
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="infra-item infra__item" tabindex="0" data-modal-open="infra3">
          <div class="infra-item__img">
            <picture>
              <source srcset="./img/infra/03.webp" type="image/webp" />
              <img loading="lazy" src="./img/infra/03.jpg" class="image" width="340" height="400"
                alt="Фото Отдых и общение" />
            </picture>
          </div>
          <div class="infra-item__text">
            <p class="desc1 desc1--light infra-item__capture">
              Отдых и общение
            </p>
            <p class="desc3 desc3--light infra-item__desc">
              Беседки, зоны барбекю, пляж, бильярдный клуб
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="infra-item infra__item" tabindex="0" data-modal-open="infra4">
          <div class="infra-item__img">
            <picture>
              <source srcset="./img/infra/04.webp" type="image/webp" />
              <img loading="lazy" src="./img/infra/04.jpg" class="image" width="340" height="400" alt="Фото Питомцы" />
            </picture>
          </div>
          <div class="btn-reset infra-item__play">
            <svg class="">
              <use xlink:href="img/sprite.svg#play"></use>
            </svg>
          </div>
          <div class="infra-item__text">
            <p class="desc1 desc1--light infra-item__capture">Питомцы</p>
            <p class="desc3 desc3--light infra-item__desc">
              2 фермы, собачья площадка
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="infra-item infra__item" tabindex="0" data-modal-open="infra5">
          <div class="infra-item__img">
            <picture>
              <source srcset="./img/infra/05.webp" type="image/webp" />
              <img loading="lazy" src="./img/infra/05.jpg" class="image" width="340" height="400" alt="Фото Арт" />
            </picture>
          </div>
          <div class="infra-item__text">
            <p class="desc1 desc1--light infra-item__capture">Арт</p>
            <p class="desc3 desc3--light infra-item__desc">
              Арт-пространства (скворечники, велик, библиотека и т.д.).
              Арт-мероприятия (детские рисунки, покраска домиков)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal modal-infra" id="infra1">
  <div class="modal__body modal-infra__body">
    <div class="modal-infra__wrapper">
      <div class="modal-infra__header">
        <h5 class="title5 modal-infra__title">Общение</h5>
        <button class="btn-reset modal__close" data-modal-close>
          <svg class="">
            <use xlink:href="img/sprite.svg#cross"></use>
          </svg>
        </button>
      </div>
      <div class="modal-infra__desc desc3">
        <p>
          Благодаря такому подходу создается абсолютно новая система ценностей,
          так необходимая подавленному современной суетой Человеку.
          Во&nbsp;взаимоотношениях с&nbsp;Природой, со&nbsp;своим собственным
          Здоровьем, с&nbsp;близкими, с&nbsp;детьми,
          да&nbsp;и&nbsp;в&nbsp;принципе со&nbsp;всем своим окружением
          в&nbsp;самом широком смысле. Можно без ложной скромности сказать, что
          здесь сформировано эмоционально-положительное отношение
          к&nbsp;окружающему миру, и&nbsp;умение видеть его красоту
          и&nbsp;неповторимость.
        </p>
      </div>
    </div>
    <div class="modal-infra__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="modal-infra__img">
            <picture>
              <source srcset="./img/modal-infra/01.webp" type="image/webp" />
              <img loading="lazy" src="./img/modal-infra/01.jpg" class="image" width="335" height="220" alt="Фото" />
            </picture>
          </div>
          <p class="modal-infra__capture">Подпись фотографии</p>
        </div>
        <div class="swiper-slide">
          <div class="modal-infra__img">
            <picture>
              <source srcset="./img/modal-infra/01.webp" type="image/webp" />
              <img loading="lazy" src="./img/modal-infra/01.jpg" class="image" width="335" height="220" alt="Фото" />
            </picture>
          </div>
          <p class="modal-infra__capture">Подпись фотографии</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-infra" id="infra2">
  <div class="modal__body modal-infra__body">
    <div class="modal-infra__wrapper">
      <div class="modal-infra__header">
        <h5 class="title5 modal-infra__title">Общение</h5>
        <button class="btn-reset modal__close" data-modal-close>
          <svg class="">
            <use xlink:href="img/sprite.svg#cross"></use>
          </svg>
        </button>
      </div>
      <div class="modal-infra__desc desc3">
        <p>
          Благодаря такому подходу создается абсолютно новая система ценностей,
          так необходимая подавленному современной суетой Человеку.
          Во&nbsp;взаимоотношениях с&nbsp;Природой, со&nbsp;своим собственным
          Здоровьем, с&nbsp;близкими, с&nbsp;детьми,
          да&nbsp;и&nbsp;в&nbsp;принципе со&nbsp;всем своим окружением
          в&nbsp;самом широком смысле. Можно без ложной скромности сказать, что
          здесь сформировано эмоционально-положительное отношение
          к&nbsp;окружающему миру, и&nbsp;умение видеть его красоту
          и&nbsp;неповторимость.
        </p>
      </div>
    </div>
    <div class="modal-infra__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="modal-infra__img">
            <picture>
              <source srcset="./img/modal-infra/01.webp" type="image/webp" />
              <img loading="lazy" src="./img/modal-infra/01.jpg" class="image" width="335" height="220" alt="Фото" />
            </picture>
          </div>
          <p class="modal-infra__capture">Подпись фотографии</p>
        </div>
        <div class="swiper-slide">
          <div class="modal-infra__img">
            <picture>
              <source srcset="./img/modal-infra/01.webp" type="image/webp" />
              <img loading="lazy" src="./img/modal-infra/01.jpg" class="image" width="335" height="220" alt="Фото" />
            </picture>
          </div>
          <p class="modal-infra__capture">Подпись фотографии</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-infra" id="infra3">
  <div class="modal__body modal-infra__body">
    <div class="modal-infra__wrapper">
      <div class="modal-infra__header">
        <h5 class="title5 modal-infra__title">Общение</h5>
        <button class="btn-reset modal__close" data-modal-close>
          <svg class="">
            <use xlink:href="img/sprite.svg#cross"></use>
          </svg>
        </button>
      </div>
      <div class="modal-infra__desc desc3">
        <p>
          Благодаря такому подходу создается абсолютно новая система ценностей,
          так необходимая подавленному современной суетой Человеку.
          Во&nbsp;взаимоотношениях с&nbsp;Природой, со&nbsp;своим собственным
          Здоровьем, с&nbsp;близкими, с&nbsp;детьми,
          да&nbsp;и&nbsp;в&nbsp;принципе со&nbsp;всем своим окружением
          в&nbsp;самом широком смысле. Можно без ложной скромности сказать, что
          здесь сформировано эмоционально-положительное отношение
          к&nbsp;окружающему миру, и&nbsp;умение видеть его красоту
          и&nbsp;неповторимость.
        </p>
      </div>
    </div>
    <div class="modal-infra__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="modal-infra__img">
            <picture>
              <source srcset="./img/modal-infra/01.webp" type="image/webp" />
              <img loading="lazy" src="./img/modal-infra/01.jpg" class="image" width="335" height="220" alt="Фото" />
            </picture>
          </div>
          <p class="modal-infra__capture">Подпись фотографии</p>
        </div>
        <div class="swiper-slide">
          <div class="modal-infra__img">
            <picture>
              <source srcset="./img/modal-infra/01.webp" type="image/webp" />
              <img loading="lazy" src="./img/modal-infra/01.jpg" class="image" width="335" height="220" alt="Фото" />
            </picture>
          </div>
          <p class="modal-infra__capture">Подпись фотографии</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-infra" id="infra4">
  <div class="modal__body modal-infra__body">
    <div class="modal-infra__wrapper">
      <div class="modal-infra__header">
        <h5 class="title5 modal-infra__title">Общение</h5>
        <button class="btn-reset modal__close" data-modal-close>
          <svg class="">
            <use xlink:href="img/sprite.svg#cross"></use>
          </svg>
        </button>
      </div>
      <div class="modal-infra__desc desc3">
        <p>
          Благодаря такому подходу создается абсолютно новая система ценностей,
          так необходимая подавленному современной суетой Человеку.
          Во&nbsp;взаимоотношениях с&nbsp;Природой, со&nbsp;своим собственным
          Здоровьем, с&nbsp;близкими, с&nbsp;детьми,
          да&nbsp;и&nbsp;в&nbsp;принципе со&nbsp;всем своим окружением
          в&nbsp;самом широком смысле. Можно без ложной скромности сказать, что
          здесь сформировано эмоционально-положительное отношение
          к&nbsp;окружающему миру, и&nbsp;умение видеть его красоту
          и&nbsp;неповторимость.
        </p>
      </div>
    </div>
    <div class="modal-infra__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="modal-infra__img">
            <picture>
              <source srcset="./img/modal-infra/01.webp" type="image/webp" />
              <img loading="lazy" src="./img/modal-infra/01.jpg" class="image" width="335" height="220" alt="Фото" />
            </picture>
          </div>
          <p class="modal-infra__capture">Подпись фотографии</p>
        </div>
        <div class="swiper-slide">
          <div class="modal-infra__img">
            <picture>
              <source srcset="./img/modal-infra/01.webp" type="image/webp" />
              <img loading="lazy" src="./img/modal-infra/01.jpg" class="image" width="335" height="220" alt="Фото" />
            </picture>
          </div>
          <p class="modal-infra__capture">Подпись фотографии</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-infra" id="infra5">
  <div class="modal__body modal-infra__body">
    <div class="modal-infra__wrapper">
      <div class="modal-infra__header">
        <h5 class="title5 modal-infra__title">Общение</h5>
        <button class="btn-reset modal__close" data-modal-close>
          <svg class="">
            <use xlink:href="img/sprite.svg#cross"></use>
          </svg>
        </button>
      </div>
      <div class="modal-infra__desc desc3">
        <p>
          Благодаря такому подходу создается абсолютно новая система ценностей,
          так необходимая подавленному современной суетой Человеку.
          Во&nbsp;взаимоотношениях с&nbsp;Природой, со&nbsp;своим собственным
          Здоровьем, с&nbsp;близкими, с&nbsp;детьми,
          да&nbsp;и&nbsp;в&nbsp;принципе со&nbsp;всем своим окружением
          в&nbsp;самом широком смысле. Можно без ложной скромности сказать, что
          здесь сформировано эмоционально-положительное отношение
          к&nbsp;окружающему миру, и&nbsp;умение видеть его красоту
          и&nbsp;неповторимость.
        </p>
      </div>
    </div>
    <div class="modal-infra__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="modal-infra__img">
            <picture>
              <source srcset="./img/modal-infra/01.webp" type="image/webp" />
              <img loading="lazy" src="./img/modal-infra/01.jpg" class="image" width="335" height="220" alt="Фото" />
            </picture>
          </div>
          <p class="modal-infra__capture">Подпись фотографии</p>
        </div>
        <div class="swiper-slide">
          <div class="modal-infra__img">
            <picture>
              <source srcset="./img/modal-infra/01.webp" type="image/webp" />
              <img loading="lazy" src="./img/modal-infra/01.jpg" class="image" width="335" height="220" alt="Фото" />
            </picture>
          </div>
          <p class="modal-infra__capture">Подпись фотографии</p>
        </div>
      </div>
    </div>
  </div>
</div>