<section class="realize">
  <div class="container">
    <div class="realize__container">
      <div class="realize__content">
        <div class="realize__left">
          <p class="desc1 desc1--light realize__desc">
            Если Вы осознали, что нуждаетесь в качественной живой среде, которая
            эффектно контрастирует с городом – скачайте нашу презентацию
          </p>
        </div>
        <a href="#" class="btn-reset icon-btn realize__btn">
          <svg class="">
            <use xlink:href="img/sprite.svg#download"></use>
          </svg>
          <span>Скачать презентацию</span>
        </a>
      </div>
    </div>
  </div>
</section>
