<div class="stories modal" id="stories">
  <button class="btn-reset modal__close stories__close" data-modal-close>
    <svg class="">
      <use xlink:href="img/sprite.svg#cross"></use>
    </svg>
  </button>
  <div class="stories__slider">
    <div class="owl-carousel">
      <div class="stories__item item">
        <div class="stories__video">
          <video poster="./img/history/01.webp" controls>
            <source src="./cover.mp4" />
          </video>
        </div>
      </div>
      <div class="stories__item item">
        <div class="stories__video">
          <video poster="./img/history/02.webp" controls>
            <source src="./cover2.mp4" />
          </video>
        </div>
      </div>
      <div class="stories__item item">
        <div class="stories__video">
          <video poster="./img/history/03.webp" controls>
            <source />
          </video>
        </div>
      </div>
      <div class="stories__item item">
        <div class="stories__video">
          <video poster="./img/history/04.webp" controls>
            <source />
          </video>
        </div>
      </div>
      <div class="stories__item item">
        <div class="stories__video">
          <video poster="./img/history/01.webp" controls>
            <source />
          </video>
        </div>
      </div>
      <div class="stories__item item">
        <div class="stories__video">
          <video poster="./img/history/02.webp" controls>
            <source />
          </video>
        </div>
      </div>
      <div class="stories__item item">
        <div class="stories__video">
          <video poster="./img/history/02.webp" controls>
            <source />
          </video>
        </div>
      </div>
      <div class="stories__item item">
        <div class="stories__video">
          <video poster="./img/history/03.webp" controls>
            <source />
          </video>
        </div>
      </div>
      <div class="stories__item item">
        <div class="stories__video">
          <video poster="./img/history/04.webp" controls>
            <source />
          </video>
        </div>
      </div>
      <div class="stories__item item">
        <div class="stories__video">
          <video poster="./img/history/01.webp" controls>
            <source />
          </video>
        </div>
      </div>
      <div class="stories__item item">
        <div class="stories__video">
          <video poster="./img/history/02.webp" controls>
            <source />
          </video>
        </div>
      </div>
    </div>

    <button class="btn-reset stories__btn stories__btn--prev">
      <svg class="">
        <use xlink:href="img/sprite.svg#arrow-right"></use>
      </svg>
    </button>
    <button class="btn-reset stories__btn stories__btn--next">
      <svg class="">
        <use xlink:href="img/sprite.svg#arrow-right"></use>
      </svg>
    </button>
  </div>
</div>
