<section class="text">
  <div class="container">
    <div class="heading-container text__container" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      <div class="text__left desc1">
        <p>
          Благодаря такому подходу создается абсолютно новая система ценностей,
          так необходимая подавленному современной суетой Человеку.
        </p>

        <p>
          Во&nbsp;взаимоотношениях с&nbsp;Природой, со&nbsp;своим собственным
          Здоровьем, с&nbsp;близкими, с&nbsp;детьми,
          да&nbsp;и&nbsp;в&nbsp;принципе со&nbsp;всем своим окружением
          в&nbsp;самом широком смысле.
        </p>
      </div>

      <div class="text__right desc1">
        <p>
          Можно без ложной скромности сказать, что здесь сформировано
          эмоционально-положительное отношение к&nbsp;окружающему миру,
          и&nbsp;умение видеть его красоту и неповторимость.
          <b>
            Что воистину является тем самым &laquo;Здесь и&nbsp;Сейчас&raquo;.
          </b>
        </p>
      </div>
    </div>
  </div>
</section>